body {
    font-size:20px;
    font-family: Trebuchet MS;
}
.resizedTextbox {
    height: 20px;
}
#wrongInput{
    font-color:red;
}
#gradecalc{
    padding:5px;
}
#finalGrade{
    padding:5px;
}

div{
padding:5px;
}
